<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        
        <!-- Company Slogan and Description -->
        <div class="flex justify-center col-span-1 ">
          <img alt="Facebook Logo" src="/top-logo.svg" />
        </div>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Expertly handling your moving needs, from local to long-distance moves within BC. We offer commercial moves, packing services, junk removal, and delivery with a touch of care and efficiency.
        </p>

        <!-- Call to Action Buttons -->
        <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
          <!-- <a class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
            href="/contact">Request a Quote</a> -->
          <a class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-orange border-2 border-orange duration-200 focus-visible:ring-blue hover:bg-transparent hover:border-blue hover:text-blue lg:w-auto px-6 py-3 text-center text-white w-full"
            href="/contact">Book a Move</a>
        </div>

        <!-- Unique Selling Points -->
        <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
          <div class="text-gray-500">
            <strong class="text-gray-700">Competitive Pricing</strong> ━ Affordable rates without compromising on service quality.
          </div>
          <div class="text-gray-500">
            <strong class="text-gray-700">Exceptional Customer Service</strong> ━ Dedicated to ensuring a smooth and hassle-free move.
          </div>
          <div class="text-gray-500">
            <strong class="text-gray-700">Specialized Moving Services</strong> ━ Tailored solutions for every unique moving requirement.
          </div>
        </dl>
      </div>
 
      <!-- Social Media Links (Placeholder) -->
      <!-- <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
        <div class="flex justify-center col-span-1 ">
          <img alt="Google Logo" class="h-15" src="/google.webp" />
        </div>
        <div class="flex justify-center col-span-1 ">
          <img alt="Google Logo" class="h-15h" src="/google2.webp" />
        </div>
        <div class="flex justify-center col-span-1 ">
          <img alt="Home Logo" class="h-15" src="/home.webp" />
        </div>
        <div class="flex justify-center col-span-1 ">
          <img alt="Starts Logo" class="h-15" src="/starts.webp" />
        </div>
        <div class="flex justify-center col-span-1 ">
          <img alt="Aplus Logo" class="h-15" src="/aplus.webp" />
        </div>
        <div class="flex justify-center col-span-1 ">
          <img alt="Yelp Logo" class="h-15" src="/yelp.webp" />
        </div>
      </div> -->
    </div>
  </div>
</section>
