<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Moving with Confidence and Care
        </p>
        <p class="mt-4 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          At Wrap-it Moving, we ensure a stress-free move for families, businesses, and students with our reliable and efficient services.
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <!-- Feature 1: Reliable Packing Services -->
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon aria-label="cube outline" class="hydrated md h-8 w-8" name="cube-outline" role="img" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Reliable Packing Services
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            Professional packing for secure and organized transportation of your belongings.
          </p>
        </div>

        <!-- Feature 2: Efficient Junk Removal -->
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon aria-label="trash outline" class="hydrated md h-8 w-8" name="trash-outline" role="img" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Efficient Junk Removal
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            Hassle-free removal of unwanted items, keeping your moving process clean and streamlined.
          </p>
        </div>

        <!-- Feature 3: Personalized Moving Experience -->
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon aria-label="people outline" class="hydrated md h-8 w-8" name="people-outline" role="img" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Personalized Moving Experience
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            Customized moving solutions tailored to meet the unique needs of each client, whether for families, businesses, or students.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
