---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Commercial Service"
    image={{
      src: '/services/comm-1.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      COMMERCIAL MOVING: <br/>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Do you require a larger vehicle for transporting your construction materials? Our box trucks are available to ensure timely delivery of your materials in the Greater Vancouver area!
      </span>
    </Fragment>
  </Hero>

  <Content
    title="GET YOUR SUPPLIES DELIVERED RIGHT TO YOUR JOBSITE."
    subtitle="Our unwavering dedication lies in delivering efficiency, precision, and punctuality as a testament to our superior customer service. We take great care to shield your materials from external elements and potential harm. Furthermore, our commitment extends to leaving your job site in the same pristine condition as when we initially arrived. Our unloading and stocking of building supplies are tailored to meet each customer's unique specifications."
    isReversed
    items={[
      {
        title: '1. Order Your Materials From Whatever Supplier You Normally Deal With',
        description:
          'Once you place and pay for your order, select "pick up" as your delivery option.',
      },
      {
        title: '2. Request A Quote',
        description:
          "Fill out our request form or call us, and we'll give you a quote and set up a delivery. This is where confirm all the details.",
      },
      {
        title: '3. Accept Your Delivery',
        description:
          'Our team will pick-up your order, and deliver it to the jobsite you requested, simple and fast.',
      },
    ]}
    image={{
      src: '/services/comm-2.webp',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        How it works
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: '• Laminate Floors'
      },
      {
        title: '• Lumber'
      },
      {
        title: '• Plywood, OSB, & MDF'
      },
      {
        title: '• Drywall'
      },
      {
        title: '• Insulation'
      },
      {
        title: '• Appliances'
      }
    ]}
    image={{
      src: '/services/comm-3.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        Delivery Options
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer/>
</BaseLayout>
