---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Junk Removal Service"
    image={{
      src: '/services/junk-1.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
       VANCOUVER’S PREMIER CHOICE <br/>
      <span class="text-accent dark:text-orange highlight">
        FOR
      </span>
        JUNK REMOVAL<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-lg text-gray-600">
        We go beyond just moving homes. Let us help you make your junk disappear!
      </span>
    </Fragment>
  </Hero>

  <!-- Adjusted Why Junk Removal Section -->
  <Content
    title="Why Junk Removal?"
    subtitle={`Junk removal is important not only to get rid of unwanted items, it also helps create more space, making your environment more organized and clean, and your area more functional, safer, and simply nicer to look at! This can be especially beneficial when you are downsizing, renovating, or simply decluttering.

Using a junk removal service will save you time and headache. Wrap-it Moving is experienced in moving items of various sizes and types, and has knowledge in local regulations and environmentally friendly disposal methods. Let Wrap-it Moving be your hassle-free solution to clearing out spaces. Contact us today!`}
    class="text-left max-w-3xl mx-auto my-8 text-gray-700"
/>

  <!-- Adjusted Common Items Section -->
  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Items:',
        description: "Furniture, mattresses, appliances, computers, TVs, and other electronics, gym equipment, tools, random household junk, toys, hot tubs, boxes, pianos, bicycles, books, etc.",
      },
    ]}
    image={{
      src: '/services/junk-3.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-semibold tracking-tight dark:text-blue sm:text-3xl mb-4">
        Common Items We Take:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Adjusted Non-Acceptable Items Section -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Items:',
        description: `Hazardous waste such as concrete (not all companies take - always ask if they accept), oil, gasoline, fuel, household cleaners, fluorescent light bulbs, pharmaceuticals, fireworks, household hazardous waste, paint, asbestos, etc.`,
      },
    ]}
    image={{
      src: '/services/junk-4.png',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-semibold tracking-tight dark:text-blue sm:text-3xl mb-4">
        Common Items We Don’t Take and Junk Removal Companies Won’t Accept:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Adjusted Service Cost Section -->
  <Content
    title="Junk Removal Service Cost"
    subtitle="The cost of junk removal can vary depending on the item, material, and volume. We can haul your junk away at a flat-rate which includes the cost charged by the junk removal company and expenses on getting the job done. Prices can range from $129 for small piles of junk to a starting rate of $799 for full loads. Extra charges may apply to special items or unusual quantities such as pianos, tires, and excessive books. Call or email us for details."
    items={[
      {
        title: '• Mattresses Removal',
      },
      {
        title: '• Fridge Removal',
      },
      {
        title: '• Dishwashers, Washer / Dryer Removals',
      },
      {
        title: '• Hot Tubs and Bathtubs Removal',
      },
      {
        title: '• Piano Removal',
      },
      {
        title: '• Construction Sites, Demolition and Waste Removal',
      },
      {
        title: '• Sofas, Bed Frames, Couches Removal',
      },
      {
        title: '• Dining Sets, Chairs, and Other Furniture Removal',
      },
    ]}
    image={{
      src: '/services/junk-5.png',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-semibold tracking-tight dark:text-blue sm:text-3xl mb-4">
        Our services include:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer />
</BaseLayout>

