---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Junk Removal Service"
    image={{
      src: '/services/junk-1.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Vancouver Junk Removal Service: <br/>
      <span class="text-accent dark:text-orange highlight">
        BETTER
      </span>
      THAN OTHER MOVING COMPANIES.<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We not only move homes but we make junk disappear. Lets keep Vancouver green!
      </span>
    </Fragment>
  </Hero>

  <Content
    title="Full Service Junk Removal"
    subtitle="Whether you're in the process of decluttering your residence, relocating your business, or renovating a new residential space, our junk removal service can be a valuable resource. Frequently, the most significant hurdle when getting ready for a move or attempting to free up space in your current home or office is dealing with unwanted items. These are often comprised of belongings you no longer need or haven't used in a while, as well as items that present disposal challenges. Junk removal companies are here to offer a solution to this issue."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'In summary, the primary purpose of junk removal services is to eliminate your unwanted items. Junk movers will take care of disposing of old mattresses, furniture, appliances, and various other types of debris.',
      },
      {
        title: 'Benieft:',
        description:
          'If you have unwanted items that you need to dispose of but lack the means for transportation or the time to manage it yourself, consider reaching out to a junk removal company. Many of these companies will dispatch a professional to assess the items that require removal and provide you with a cost estimate before arranging a pickup appointment. Alternatively, some companies offer a same-day service, where you can simply contact them, describe the junk or send pictures, and they will promptly arrive to remove the items you wish to get rid of.',
      },
    ]}
    image={{
      src: '/services/junk-2.webp',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What Is Junk Removal?
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Junk removal companies differ, but they share similarities in their accepted and non-accepted items. Some commonly accepted items include:`,
      },
      {
        title: 'Items:',
        description: "Furnitures, Mattresses, Appliances, Computers, TVs and other electronics, Gym equipments, Tools, Random household junk, Toys, Hot tubs, Boxes, Pianos, Bicycles, Books, etc.",
      },
    ]}
    image={{
      src: '/services/junk-3.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What We Accept To Haul Away
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `One of the major hurdles in waste management and junk removal is dealing with hazardous waste. Junk removal companies are unable to accept items that pose risks during transportation.`,
      },
      {
        title: 'Items:',
        description: `Concrete (not all companies take - always ask if they accept), Oil, Gasoline, Fuel, Household cleaners, Fluorescent light bulbs, Pharmaceuticals, Fireworks, Household hazardous waste, Paint, Asbestos, etc.`,
      },
    ]}
    image={{
      src: '/services/junk-4.jpg',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What We Don’t Accept To Haul Away?
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    title="Junk Removal Service Cost"
    subtitle="Junk removal prices can range from $129 for small piles of junk to a full load starting from $799. Some situation extra charges may apply for special items or quantity, for example pianos, excessive quantity of books. The price ultimately depends on regular weight vs heavy weight, since recycling industries charge with how much weight they receive. For detailed pricing check out our rates page.",
    items={[
      {
        title: '• Mattresses Removal Services'
      },
      {
        title: '• Fridge Removal Services'
      },
      {
        title: '• Dishwashers, Washer / Dryer Removals'
      },
      {
        title: '• Hot Tubs and Bathtubs Removal'
      },
      {
        title: '• Piano Removal Services'
      },
      {
        title: '• Construction Sites and Demolition Services'
      },
      {
        title: '• Sofas, Bed Frames, Couches Removal'
      },
      {
        title: '• Dining Sets, Chairs, and Other Furniture Removal'
      },
    ]}
    image={{
      src: '/services/junk-5.jpg',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        Our services include and not limited to the disposal of:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer/>
</BaseLayout>
