---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Junk Removal Service"
    image={{
      src: '/services/junk-1.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Vancouver Junk Removal Service: <br/>
      <span class="text-accent dark:text-orange highlight">
        BETTER
      </span>
      THAN OTHER MOVING COMPANIES.<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We not only move homes but we make junk disappear. Lets keep Vancouver green!
      </span>
    </Fragment>
  </Hero>

  <Content
    title="Full Service Junk Removal"
    subtitle="Whether you are decluttering your home, relocating your business, or renovating a residential property before you move in, you might benefit from our junk removal service. Often, the biggest obstacle when preparing for a move or trying to clear out space in your existing home or office is junk. Stuff you don’t want or haven’t used in a long time, but also items that you don’t know how to dispose of conveniently. Junk removal companies exist to provide the solution to this obstacle."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'In a nutshell, junk removal services get rid of your junk. Your old mattresses, old furnitures, old appliances, and other rubbish will be removed by junk movers.',
      },
      {
        title: 'Benieft:',
        description:
          'If you have junk to get rid of and you don’t have a way to transport it, or you just don’t have the time to handle it, call a junk removal company. Most companies will send a professional over or to see what needs to be removed and provide you with a quote before scheduling an appointment to take it away. Others do this entire process in a single day; you call them, give description of the junk or send pictures and the will come same day and remove what you need gone.',
      },
    ]}
    image={{
      src: '/services/junk-2.jpg',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What Is Junk Removal?
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Junk removal companies vary, but they are similar in what they do and do not accept. Some common items they accept are:`,
      },
      {
        title: 'Items:',
        description: "Furnitures, Mattresses, Appliances, Computers, TVs and other electronics, Gym equipments, Tools, Random household junk, Toys, Hot tubs, Boxes, Pianos, Bicycles, Books, etc.",
      },
    ]}
    image={{
      src: '/services/junk-3.webp',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What We Accept To Haul Away
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `One of the most significant challengs to waste management and junk removal is hazardous waste. Jumk removal companies don't accept items that are dangerous to transport`,
      },
      {
        title: 'Items:',
        description: `Concrete (not all companies take - always ask if they accept), Oil, Gasoline, Fuel, Household cleaners, Fluorescent light bulbs, Pharmaceuticals, Fireworks, Household hazardous waste, Paint, Asbestos, etc.`,
      },
    ]}
    image={{
      src: '/services/junk-4.jpg',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        What We Don’t Accept To Haul Away?
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    title="Junk Removal Service Cost"
    subtitle="Junk removal prices can range from $129 for small piles of junk to a full load starting from $799. Some situation extra charges may apply for special items or quantity, for example pianos, excessive quantity of books. The price ultimately depends on regular weight vs heavy weight, since recycling industries charge with how much weight they receive. For detailed pricing check out our rates page.",
    items={[
      {
        title: '• Mattresses Removal Services'
      },
      {
        title: '• Fridge Removal Services'
      },
      {
        title: '• Dishwashers, Washer / Dryer Removals'
      },
      {
        title: '• Hot Tubs and Bathtubs Removal'
      },
      {
        title: '• Piano Removal Services'
      },
      {
        title: '• Construction Sites and Demolition Services'
      },
      {
        title: '• Sofas, Bed Frames, Couches Removal'
      },
      {
        title: '• Dining Sets, Chairs, and Other Furniture Removal'
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        Our services include and not limited to the disposal of:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer/>
</BaseLayout>
