---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Long Distance Service"
    image={{
      src: '/services/long-1.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      LONG DISTANCE MOVERS NEAR YOU
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Wrap It Moving helps you with your long-distance move.
      </span>
    </Fragment>
  </Hero>

  <Content
    title="Long-distance moving has never been easier"
    subtitle="For a stress-free long-distance move from Vancouver, BC to Alberta, choose Wrap It Moving! With over 10 years of experience, we specialize in seamless relocations from Vancouver within BC to various Alberta cities like Kamloops, Kelowna, Williams Lake, Calgary, and Edmonton. Our expert team handles every aspect of your move, from packing and loading to transportation and unloading, tailored to your needs. Your belongings are in safe hands with us, as we provide comprehensive insurance coverage and ensure the fastest delivery times. Request a quote today to make your move to Alberta a success!"
    isReversed
    items={[
      {
        title: '• Sculptures & Ornaments – Packed in sturdy cardboard box with bubble wrap'
      },
      {
        title: '• Electronics – Wrapped and packed in cardboard box with cabling bundled'
      },
      {
        title: '• Pianos — Ultimate safety and protection for your favorite musical instrument'
      },
      {
        title: '• TVs & Monitors – Carefully wrapped with blanket and shrink wraps for extra protection'
      },
      {
        title: '• Clothes & Shoes – Wrapped in wardrobe boxes'
      },
      {
        title: '• Mirrors & Frames – Fully protected with blankets or cardboard box'
      },
      {
        title: '• Lamps & Light Fittings – Individually wrapped with shades removed'
      },
      {
        title: '• Paintings & Art – Packed in picture crates with extra protection'
      }
    ]}
    image={{
      src: '/services/long-2.jpg',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        Protecting More Than Your Peace Of Mind <br /><span class="text-xl">Your Valuable Belongings, Prized Possessions And New Home Receive Extra Care</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `You can include these services as part of your Guaranteed Price move. Just let us know which services you require, and we'll provide you with a fixed rate – no unexpected costs down the road.`,
      },
    ]}
    image={{
      src: '/services/long-3.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        No Surprises Later
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer/>
</BaseLayout>
