---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";
import Hero from "../../components/services/Hero.astro";
import Content from "../../components/services/Content.astro"

---

<BaseLayout>
  <Navigation />
  
  <Hero
    tagline="Moving Service"
    image={{
      src: '/services/moving-service-1.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      VANCOUVER’S PREMIER CHOICE <br/>
      <span class="text-accent dark:text-orange highlight">
        FOR
      </span>
        LOCAL MOVING SOLUTIONS.
       <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Wrap-It Moving</span>'s dedicated and professional team will ensure a smooth relocation experience, handling every detail with care and precision..
      </span>
        Trust Wrap-it Moving for your local move needs in Vancouver
    </Fragment>
  </Hero>

  <Content
    title="How We Move"
    subtitle="Enhancing the way individuals navigate their movements. We ensure precision and transparency throughout the entire procedure through our unique methods, specialized tools, and cost-effective pricing, all while upholding the highest service standards. Here's our approach:"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'You’ll get clear, upfront pricing with Wrap-it Moving.  Our affordable rates are based on your item list and travel distance, with no hidden fees or unexpected charges.  We believe in transparency pricing to ensure you know exactly what to expect.',
      },
    ]}
    image={{
      src: '/services/moving-service-2.jpeg',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        PRICING: <br /><span class="text-2xl">Affordable rates clearly outlined.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Based on the information you provide and an assessment of the items needed to be moved on the moving day, our expert team will plan a specific strategy for your move, ensuring utmost efficiency.`,
      },
    ]}
    image={{
      src: '/services/moving-service-3.jpg.webp',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-blue sm:text-3xl mb-2">
        PLANNING: <br /><span class="text-2xl">Your relocation will be tailored to your unique needs.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Footer/>
</BaseLayout>
