@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    /* Contextual Alternates */
    "dlig" 1,
    /* Discretionary Ligatures */
    "ss07" 1,
    /* fSquare punctuation */
    "ss08" 1,
    /* Square quotes */
    "zero" 1,
    /* Slashed zero */
    "tnum" 1,
    /* Tabular numbers */
    "cv03",
    /* Open nine */
    "cv01" 1,
    /* Alternate one */
    "cv09",
    /* Flat-top three */
    "cv02" 1;
  /* Open 4 */
}

@supports (font-variation-settings: normal) {

  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Global styles to fix screen movement */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Disable horizontal scrolling */
  touch-action: pan-y; /* Disable all touch gestures except scrolling vertically */
  position: fixed; /* Fix the position of the body */
  overscroll-behavior: none; /* Prevent scrolling bounce on mobile devices */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

@media (max-width: 768px) {

  /* Ensures the navigation links are displayed in a row */
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .dropdown-menu li a {
    padding: 12px 16px;
    font-size: 1rem;
    border-bottom: 1px solid #eaeaea;
  }

  .dropdown-menu li a:last-child {
    border-bottom: none;
  }

  .inline-flex a {
    font-size: 0.75rem;
    padding: 4px 8px;
    width: auto;
    white-space: nowrap;
  }

  /* Additional rule for body on mobile to prevent movement */
  body {
     max-width: 100vw; /* Ensure the body width is restricted to the viewport width */
    max-height: 100vh; /* Prevent height overflow */
  }
}

/* Custom hover class for dropdown */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown[data-open="true"] .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}
