<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-12">
        <h1 class="font-extrabold text-5xl text-black font-display">
          About Us
        </h1>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <p>
          Moving can be stressful - We make it easy for you.
        </p>
        <h3>History</h3>
        <p>
          Relocating can be a source of stress, but we're here to simplify it for you. Wrap It Moving takes pride in being a Vancouver-based company, serving the Metro Vancouver area since 2017.
        </p>

        <h3>Facts</h3>
        <p>
          Our expertise lies in a wide range of services, including small moves, house relocations, office moves, deliveries, and household packing. Additionally, we offer specialized services such as piano moves, professional packing, and junk removal. We believe in providing competitive rates without compromising quality, ensuring excellent value for our customers.
          data.
        </p>
        <p>
          Our dedicated team's objective is to transform your move into a stress-free and enjoyable experience by delivering top-notch customer service. Beyond being just movers, we aspire to be your reliable partner, ensuring a smooth and seamless process throughout.
        </p>
        <p>
          Our service spectrum covers everything from single-item deliveries to complete house moves. We prioritize the safety of your belongings by utilizing blankets for protection, especially for fragile items.
        </p>
        <p>
          At Wrap It Moving, transparency is paramount. We provide written upfront quotes for all moving rates, without imposing minimum charges, as various factors influence the quote. Additionally, there are no hidden fees for standard packaging materials such as bubble wraps, tapes, blankets, and shrink wraps, or for assembling or disassembling furniture.
        </p>
      </div>
    </div>
  </div>
</section>
