---
import { Code } from "astro:components";
---

<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Pricing
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because we wonder all day around
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Additional Mover     
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Include an extra charge of $40 per hour for each additional mover (1 individual).
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              No Travel Time Fee!
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
              At Wrap It Moving, we don't charge for travel time. We start the clock when we arrive at your pick-up location and stop it when we complete the move at your final destination.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Minimum Hours
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Our minimum hour requirements vary in different Lower Mainland areas. For instance, if our movers finish the job in less than 3 hours, you'll still be charged for a minimum of 3 hours. This is to ensure clarity and fairness for our clients.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Type of Service
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Every move is unique, and some may be more challenging than others. For instance, if we have to carry items up several flights of stairs without an elevator, it may lead to an increase in the base hourly rate. There are various exceptions, such as handling very large objects, covering long distances while moving, and encountering other obstacles that can make the moving process harder.

              Before you confirm the move, we will provide you with an hourly rate estimate. However, to give you the most accurate estimate, we need to know all the details of your move in advance. The more information you provide us before the moving date, the better we can calculate the right rate for you.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Other moving/packing related costs
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Ensuring your items stay safe and clean is our top priority. We'll supply you with the needed moving materials, which are:
            </p>

            <p class="text-gray-500 text-sm font-bold">
              Moving blankets (FREE)
            </p>
             
            <p class="text-gray-500 text-sm font-bold">
              Shrink Wrap (FREE)
            </p>
             
            <p class="text-gray-500 text-sm font-bold">
              Tape (FREE)
            </p>
             
            <p class="text-gray-500 text-sm font-bold">
              King size mattress cover ($20.00 each)
            </p>

            <p class="text-gray-500 text-sm font-bold">
              Queen size mattress cover ($20.00 each)
            </p>

            <p class="text-gray-500 text-sm font-bold">
              Moving boxes sold up on request.
              <a href="/contact" class="underline">Contact Us.</a>
            </p>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
