<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Pricing
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because we wonder all day around
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              How We Charge
              The Basics of our Base Hourly Rates              
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Our rates start at $129/hour for 2 movers + 1 truck with travel time.
              Your rate is dependent on:
              
              how many movers are required;
              the date the move is booked;
              the type of moving service requested.
              In some circumstances a flat rate can be negotiated. Typically this applies to long distance moves with listed items. See below for more information.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              How Rates Are Determined
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            Different Factors That Influence Our Pricing
            <p class="text-gray-500 text-sm">
              Our rates are dependent on three main components. How we determine your base hourly rate is calculated using this criteria.
            </p>

            Number of Movers
            <p class="text-gray-500 text-sm"> 
              The size of the move determines the amount of movers you will need. For moves with more than 1 bedroom we suggest 3 movers. For moves with more than 2 bedrooms, the minimum is 3 movers. More bedrooms would require more movers. The cost for each additional mover is $40/hr.
            </p>

            Date of Move
            <p class="text-gray-500 text-sm">
              The date that a move is booked will alter the base hourly rate of that move due to availability and demand. For moves booked between the 3rd and the 24th of each calendar month, the base rate is $129/hr.

              For moves outside of those dates a base rate of more than $129/hr will apply.
            </p>

            Type of Service
            <p class="text-gray-500 text-sm">
              All moves are different and some require extra effort to complete. For example, a move that requires us to walk up many flights of stairs when no elevator is present will result in an increase of the base hourly rate. Other exceptions are, but not limited to, extremely heavy items, long walking distances, and other types of obstacles that increase the difficulty of the move.

              Any increase in the base hourly rate will be discussed with you prior to confirming the move.

              However, we can only give you an accurate rate if we know in advance what the conditions surrounding the move are. The more information that is provided by you to us prior to the move will help us to determine the correct pricing for you. Check out our blog for some suggestions and tips on how to prepare for you move.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              How It Works
            </span>
          </div>
          <div class="lg:col-span-2">
            The Moving Parts of the Moving Process
            <p class="text-gray-500 text-sm">
              Charging begins when we arrive at the pick-up location and continues as the crew loads the truck, drives to your new location, and unloads the truck (including any repeated trips, if applicable).

              Charging ends when the truck is empty and any required set-up is complete.
              
              Travel time will be added to the final cost. Travel time is the amount of time it takes to drive to the pick-up location before beginning the move and return after the move is complete. Travel time is charged at 1 hour for 1 zone and 1.5 hours for 2 zones.
              
              For example, if you are moving from East Vancouver to North Vancouver, the time it takes for us to first drive to East Vancouver before the move and then back from North Vancouver after the move is the travel time. The time to load the truck with your items, drive between these two locations, and unpack your items is charged at your base hourly rate.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Flat Rates
            </span>
          </div>
          <div class="lg:col-span-2">
            Guaranteed Rates for Guaranteed Peace of Mind
            <p class="text-gray-500 text-sm">
              We will honour the quoted price for long distance moves of at least 150 km outside of Vancouver as long a the content list does not change. This means that even if the move takes longer due to traffic or weather, you’ll still pay the quoted price.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              PLEASE NOTE:
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              This offer is available for listed items only.

              If your truck load exceeds the listed content, an extra fee of $25 per item will apply, depending on the weight and the type of items.
              
              If the move takes less time than quoted, the guaranteed price still applies. Additional stops and services must be arranged in advance and additional charges may apply.
              
              Your move may require special handling if you have large items such as a pool table, commercial appliances, a piano or a staircase that we will have to walk up.
              
              The price you are quoted is based on the information we receive from you so it is very important to advise us in advance of any unusual items or circumstances to ensure that your estimate is accurate.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
