<section aria-labelledby="tips-title" id="tips">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Moving Tips
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          How To Plan For A Moving Day. Tips To Make Your Move Easy!
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              1. Get prepared
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              It won't be long before moving day arrives! Preparation is the key to a stree-free and easy move. You'll have a lot less to worry about on the big day if you take the time to plan early and get organized.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              2. Find the right moving company
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Start by getting free estimate. Next, ask friends, family members and coworkers if they can recommend a moving company. Read online reviews of the companies that stand out for you.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              3. Make packing a priority
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Packing is the heart of moving and it is crucial to treat it as a priority. Know what you have and take the time to organize what you will be packing and what to leave to the professionals to move, sell, donate or junk. Use professional boxes when moving to avoid damages in the process.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              4. Pack an essentials box or bag
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Pack a box of essential items that you will need immediately after the move in and make sure it’s the last thing added to the truck or you take it in your personal vehicle.
            </p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            5: Keep your most important things with you
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            Don’t pack cash, jewelry, or prescription medications, — keep these with you. You might need to access them on moving day, and it’s nice for the movers if they know they don’t need to worry about keeping track of these small, but very important items.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            6. Label your boxes
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            Label each box so you know what’s in it, and which room it goes in. This will make it easier for the movers to put the boxes in the right rooms and unpacking much easier on you.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            7. Sell or donate your furniture
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            Moving can be expensive depending on how much stuff you have, so choosing not to move everything might save you a lot of money. Consider it a chance to declutter; sell the things you don't need, donate particular items and furnishings. We can help with the items that are not being moved to your new home. whether it is for donation or junk removal. 
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            8. Arrange parking for moving truck
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            If you have a driveway, organizing parking won’t be an issue but if you live in an apartment or a narrow street, make sure to arrange a parking permit for our moving truck prior to the moving day. Parking permit for Vancouver, BC
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            9. Reserve elevator for move
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            Some condo and apartment complexes have a separate service elevator, but the majority have one that will be in service mode during your move. This means that the elevator can be used by you and your movers. The elevator will remain on the floor where you need it without being called to another floor. Making your move shorter significantly.  
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
        <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
          <span
            class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
            10. Cleaning & sweeping
          </span>
        </div>
        <div class="lg:col-span-2">
          <p class="text-gray-500 text-sm">
            Once everything is out of your home, go through the place with a vacuum cleaner, and clean up your place to make sure everything is in order for the new occupants. You can also hire move out cleaners to come right after your movers finish loading.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
