<section class="bg-zinc-100">
  <div class="relative">
    <div class="lg:absolute lg:inset-0 lg:left-1/2">
      <img class="object-cover w-full h-64 sm:h-80 lg:absolute lg:h-full" src="truck.png" alt="Wrap it Moving Truck">
    </div>
    <div class="pt-16 pb-24 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
      <div class="px-8 lg:px-12">
        <div class="max-w-lg mx-auto lg:mx-0 lg:pr-12">
          <p class="mt-12 text-3xl font-black tracking-tight text-black uppercase font-display">
            Wrap it Moving - Your Trusted Moving Partner
          </p>
          <p class="max-w-2xl mt-4 text-base font-medium tracking-tight text-black">
            We provide comprehensive moving services, from local to long-distance moves, packing, and junk removal. Our team ensures a hassle-free experience with a focus on speed and care.
          </p>
          <p class="mt-8 text-2xl tracking-tight text-black font-medium font-display lg:pl-4 lg:border-l-4 border-accent-600">
            Experience the Difference with <span class="text-accent-600">Wrap it Moving</span>.
          </p>
          <p class="max-w-2xl mt-8 text-base font-medium tracking-tight text-black">
            Get started with us today for a seamless moving experience. Our commitment is to handle your belongings as if they were our own. Reach out for a custom quote tailored to your specific needs.
          </p>

          <div class="mt-12">
            <a href="/#contact" class="inline-flex items-center justify-center w-full gap-4 px-6 py-3 text-sm font-medium text-white transition rounded-xl bg-accent-600 group active:text-gray-900/60 active:transition-none outline-offset-2 hover:bg-white hover:text-black lg:w-auto">Request a Quote <span>→</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
